<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>work2</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  	<init-param>
  		<param-name>notCheckPath</param-name>
  		<param-value>/servlet/CreateVerifyImageController.do,/servlet/LoginController.do,/servlet/logout.do,error.jsp</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>UserFilter</filter-name>
  	<filter-class>filter.UserFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/UserControl.jsp</url-pattern>
  	<url-pattern>/ResourceControl.jsp</url-pattern>
  </filter-mapping>

</web-app>